<footer class="nav fixed-bottom justify-content-center">
    <li class="nav-item">
      <a class="nav-link color-secondary" href="https://linkedin.com/in/shreyasmallya2k"><i class="bi bi-linkedin"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link color-secondary" href="mailto:connectwith.shrey@pertinacia.dev"><i class="bi bi-envelope-at-fill"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link color-secondary" href="https://github.com/sahyrlelyaams"><i class="bi bi-github"></i></a>
    </li>
</footer>