.font-size {
    &-1 {
        font-size: 10px;
        line-height: 12px;
    }
    &-2 {
        font-size: 12px;
        line-height: 16px;
    }
    &-3 {
        font-size: 16px;
        line-height: 20px;
    }
    &-4 {
        font-size: 20px;
        line-height: 24px;
    }
    &-5 {
        font-size: 24px;
        line-height: 28px;
    }
    @media (max-width: 1399px) {
        &-xl-1 {
            font-size: 10px;
            line-height: 12px;
        }
        &-xl-2 {
            font-size: 12px;
            line-height: 16px;
        }
        &-xl-3 {
            font-size: 16px;
            line-height: 20px;
        }
        &-xl-4 {
            font-size: 20px;
            line-height: 24px;
        }
        &-xl-5 {
            font-size: 24px;
            line-height: 28px;
        }
    }
    @media (max-width: 1199px) {
        &-lg-1 {
            font-size: 10px;
            line-height: 12px;
        }
        &-lg-2 {
            font-size: 12px;
            line-height: 16px;
        }
        &-lg-3 {
            font-size: 16px;
            line-height: 20px;
        }
        &-lg-4 {
            font-size: 20px;
            line-height: 24px;
        }
        &-lg-5 {
            font-size: 24px;
            line-height: 28px;
        }
    }
    @media (max-width: 991px) {
        &-md-1 {
            font-size: 10px;
            line-height: 12px;
        }
        &-md-2 {
            font-size: 12px;
            line-height: 16px;
        }
        &-md-3 {
            font-size: 16px;
            line-height: 20px;
        }
        &-md-4 {
            font-size: 20px;
            line-height: 24px;
        }
        &-md-5 {
            font-size: 24px;
            line-height: 28px;
        }
    }
    @media (max-width: 767px) {
        &-sm-1 {
            font-size: 10px;
            line-height: 12px;
        }
        &-sm-2 {
            font-size: 12px;
            line-height: 16px;
        }
        &-sm-3 {
            font-size: 16px;
            line-height: 20px;
        }
        &-sm-4 {
            font-size: 20px;
            line-height: 24px;
        }
        &-sm-5 {
            font-size: 24px;
            line-height: 28px;
        }
    }
    @media (max-width: 575px) {
        &-1 {
            font-size: 10px;
            line-height: 12px;
        }
        &-2 {
            font-size: 12px;
            line-height: 16px;
        }
        &-3 {
            font-size: 16px;
            line-height: 20px;
        }
        &-4 {
            font-size: 20px;
            line-height: 24px;
        }
        &-5 {
            font-size: 24px;
            line-height: 28px;
        }
    }
}

.font-family-primary {
    &-400 {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
    }

    &-600 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
    }
}

.font-family-secondary {    
    &-500 {
        font-family: "EB Garamond", serif;
        font-weight: 500;
    }

    &-700 {
        font-family: "EB Garamond", serif;
        font-weight: 700;
    }
}